/__pycache__
/archive
/biomaterial_scaffold_postgresql
/cell_count_postgresql
/hp_biopsy_postgresql
/hp_raw_postgresql
/nucleocounter_raw_csv
/tools_and_functions/HP_assay
/tracker_postgresql
/HP_assay